html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*MAIN BLOCKS*/
.section {
  height: 100vh;
  padding: 0 8%;
  overflow: hidden;
}
@media (min-width: 480px) and (max-width: 767px) {
  .section {
    padding: 0 6%;
  }
}
@media (max-width: 479px) {
  .section {
    padding: 0 4%;
  }
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 5.625em;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .title {
    font-size: 5em;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .title {
    font-size: 4em;
  }
}
@media (max-width: 479px) {
  .title {
    font-size: 3.5em;
  }
}

.text {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.063em;
  line-height: 1.7;
}
@media (min-width: 480px) and (max-width: 767px) {
  .text {
    font-size: 1.2em;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .text {
    font-size: 1em;
  }
}
@media (max-width: 479px) {
  .text {
    font-size: 0.8em;
  }
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  color: white;
  text-align: center;
  padding: 20px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) and (max-width: 1023px) {
  .btn {
    padding: 15px 30px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .btn {
    padding: 10px 50px;
    font-size: 1em;
  }
}
@media (max-width: 479px) {
  .btn {
    width: 90%;
    padding: 10px 5px;
    font-size: 0.5em;
  }
}

.logo {
  color: #262626;
  font-family: "Pacifico", cursive;
  font-size: 3em;
}
@media (min-width: 480px) and (max-width: 767px) {
  .logo {
    font-size: 2.5em;
  }
}
@media (max-width: 479px) {
  .logo {
    font-size: 2em;
  }
}

/*HEADER*/
.header {
  background-image: url(/assets/images/1.png);
  background-size: cover;
  background-position: center;
  padding-top: 50px;
}
@media (min-width: 480px) and (max-width: 767px) {
  .header {
    background-position-x: 30px;
  }
}
@media (max-width: 479px) {
  .header {
    background-position-x: -180px;
    background-position-y: 30px;
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__scroll {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(0, -50%);
}
@media (min-width: 480px) and (max-width: 767px) {
  .header__scroll {
    visibility: hidden;
  }
}
@media (max-width: 479px) {
  .header__scroll {
    visibility: hidden;
  }
}
.header__content {
  max-width: 385px;
  padding-top: 8%;
}
.header__content > * {
  margin-top: 30px;
}
@media (min-width: 480px) and (max-width: 767px) {
  .header__content {
    max-width: 75%;
    padding-top: 10%;
  }
}
@media (max-width: 479px) {
  .header__content {
    padding-top: 10%;
  }
}
.header__content__title {
  font-size: 3.75em;
  font-weight: 900;
}
@media (min-width: 480px) and (max-width: 767px) {
  .header__content__title {
    font-size: 3em;
  }
}
@media (max-width: 479px) {
  .header__content__title {
    font-size: 2.5em;
  }
}
@media (max-width: 479px) {
  .header__content__btn {
    margin-top: 60%;
  }
}

.nav {
  width: 50%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .nav {
    width: 55%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .nav {
    visibility: hidden;
  }
}
@media (max-width: 479px) {
  .nav {
    visibility: hidden;
  }
}
.nav__list {
  display: flex;
  justify-content: space-between;
  line-height: 1.56em;
}
.nav__link {
  padding-top: 8px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #262626;
}
.nav__link:hover {
  border-top: 3px solid #ff6033;
}

/*ABOUT US*/
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0px;
  background-color: #00b3b3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .about-us {
    flex-direction: column;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .about-us {
    flex-direction: column;
  }
}
@media (max-width: 479px) {
  .about-us {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .about-us__image {
    transform: translateY(-380px);
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .about-us__image {
    transform: translateY(-410px);
  }
}
@media (max-width: 479px) {
  .about-us__image {
    transform: translateY(-300px);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .about-us__text {
    padding-left: 10%;
    transform: translateY(-400px);
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .about-us__text {
    padding-left: 5%;
    transform: translateY(-450px);
  }
}
@media (max-width: 479px) {
  .about-us__text {
    padding-left: 5%;
    transform: translateY(-450px);
  }
}
.about-us__text__title {
  padding-bottom: 35px;
}
@media (max-width: 479px) {
  .about-us__text__title {
    padding-bottom: 60px;
    text-align: center;
    color: #262626 !important;
  }
}

.services {
  background-color: #70bfff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .services {
    flex: 0 0 50%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .services {
    flex-direction: column;
  }
}
@media (max-width: 479px) {
  .services {
    flex-direction: column;
  }
}
.services__list {
  flex: 0 0 40%;
  color: #262626;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .services__list {
    flex: 0 0 50%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .services__list {
    padding-left: 5%;
  }
}
@media (max-width: 479px) {
  .services__list {
    padding-left: 5%;
  }
}
.services__text {
  position: relative;
  margin-top: 100px;
  margin-bottom: 150px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .services__text {
    flex: 0 0 30%;
    transform: translateX(200px);
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .services__text {
    padding-left: 5%;
    transform: translateY(-450px);
  }
}
@media (max-width: 479px) {
  .services__text {
    padding-left: 5%;
    transform: translateY(-450px);
  }
}
.services__text__title {
  position: absolute;
  width: 119%;
  top: 50%;
  left: -20px;
  transform: translate(0, -50%);
}
@media (min-width: 768px) and (max-width: 1023px) {
  .services__text__title {
    flex: 0 0 30%;
    transform: translateX(-150px);
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .services__text__title {
    padding-left: 5%;
    transform: translateY(-450px);
  }
}
@media (max-width: 479px) {
  .services__text__title {
    padding-left: 5%;
    transform: translateY(-450px);
  }
}

.list__item {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 6%;
  font-size: 20px;
  height: 100px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}
.list__item::after {
  content: "";
  background-color: #9d9d9d;
  border: none;
  height: 100px;
  width: 1px;
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translate(0, -50%);
}
.list__item:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.list__item__icon {
  font-size: 45px;
}
.list__item__name {
  font-weight: bold;
  max-width: 60%;
}

.text--light {
  color: #ffffff;
}

.text--dark {
  color: #262626;
}

.btn--orange {
  background-color: #ff6033;
}
/*# sourceMappingURL=style.css.map */