.wrapper {
  background-color: #9789f9;
  height: 1000px;
  width: 100%;
}
.content {
  &__container {
    max-width: 1065px;
    padding-top: 165px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  &__item {
    width: 33%;
    background-color: #f5f4f9;
    box-shadow: 0 0 45px 5px rgba(0, 0, 0, 0.25);
    position: relative;
    margin: 0px 11px;

    &:hover {
      .content__popular .popular__box {
        visibility: visible;
      }
      .content__btn {
        bottom: 70px;
      }
      .content__foot {
        display: block;
      }
      .content__header {
        margin-bottom: 42px;
      }
      .content__icon {
        padding-bottom: 30px;
      }
    }
  }

  &__popular {
    position: absolute;
    left: 73%;
    top: 10px;
    z-index: 9;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 32px;
  }
  &__price {
    padding-top: 40px;
  }

  &__title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    padding-top: 25px;
  }

  &__box {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding-top: 35px;
    background-image: url(assets/img/4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 45px;
    margin-bottom: 60px;
  }

  &__icon {
    font-size: 30px;
    padding-bottom: 20px;
    font-family: "themify";
  }
  &__list {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
  }
  &__link {
    padding: 20px 0px;
  }
  &__btn {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 18px;
    position: absolute;
    background-color: #6fcffb;
    width: 203px;
    text-align: center;
    padding: 20px 46px;
    border-radius: 30px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 0%);

    &:hover {
      background-color: #fd8d7b;
    }
  }
  &__foot {
    display: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 11px;
    color: #a9a9a9;
    text-align: center;
    padding-bottom: 30px;
  }
}

.popular {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  &__letter {
    font-size: 24px;
    position: absolute;
    left: 28%;
    top: 50%;
    transform: translate(-6%, -50%);
  }
  &__box {
    visibility: hidden;
    position: absolute;
    left: 85%;
    top: 50%;
    transform: translate(0, -50%);
  }
  &__text {
    font-size: 16px;
    position: absolute;
    left: 33.5%;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.price {
  height: 83px;
  position: relative;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;

  &__dollar {
    align-self: flex-start;
    font-size: 24px;
  }
  &__number {
    font-size: 60px;
  }
  &__hr {
    align-self: flex-end;
    font-size: 16px;
  }
}
