.nav {
  position: relative;
  background-color: $blue-cl;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  &__list {
    display: flex;
    justify-content: center;

    @include mobile {
      display: none;
    }

    @include tablets {
      display: none;
    }
  }

  &__link {
    font-family: $aleo;
    text-transform: uppercase;
    font-size: 14px;
    color: $light-cl;
    margin: 0 22.5px;
    padding-bottom: 3px;

    &:hover {
      border-bottom: 2px solid $light-cl;
    }

    @include mobile {
      font-size: 8px;
    }

    @include tablets {
      font-size: 10px;
    }

    @include laptopS {
      font-size: 12px;
      margin: 0 4.5px;
    }

    @include laptopL {
      font-size: 12px;
      margin: 0 6.5px;
    }
  }
}
.burger {
  position: absolute;
  cursor: pointer;
  transition: 0.2s;
  top: -40px;
  right: 10%;
  width: 25px;
  height: 20px;

  @include tablets {
    width: 30px;
    height: 25px;
  }
  @include laptopS {
    display: none;
  }

  @include laptopL {
    display: none;
  }

  @include desktop {
    display: none;
  }

  &:hover {
    transform: scaleY(1.15);
  }

  &__conteiner {
    z-index: 6;
    top: 65px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  &__line {
    display: block;
    background-color: #fff;
    width: 100%;
    height: 3px;

    &::before,
    &::after {
      background-color: inherit;
      position: absolute;
      display: block;
      top: 50%;
      width: 100%;
      content: "";
      height: inherit;
      transform-origin: center;
      transform: translateY(-50%);
    }
    &::after {
      height: inherit;
      top: 100%;
      transform: translateY(-100%);
    }
  }
}
