*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

.homework{
    background-color: #9F5B76;
    text-decoration: none;
    padding: 15px; 
    text-align: right;
}


.homework a{
    padding: 10px 20px;
    background-color: #5E3646;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}
.homework a:first-child{
    border-bottom: 3px solid white;
}

.homework a:hover{
    background-color:white;
    color:  #5E3646;
}


.box{
    margin: 130px 100px;
    padding: 120px;
    box-shadow: 0px 3px 20px 10px rgba(50, 50, 50, 0.1);
}

.title{
    font-size: 42px;
    font-family: "Playfair Display", serif;
    margin-bottom: 40px;
}

.text{
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: lighter;
    line-height: 34px;
}

.text:first-letter{
    font-size: 110px;
    font-family: "Playfair Display", serif;
    float: left;
    padding-top: 25px;
    margin: 5px;
}

.quote{
    font-size: 24px;
    font-family: "Lato", sans-serif;
    font-weight: lighter;
    font-style: italic;
    margin-top: 35px;
    margin-bottom: 85px;
}

.quotes{
    font-size: 60px;
}

.button{
    text-decoration: none;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    padding: 25px 70px;
    text-transform: uppercase;
    color: #eaa258;
    border: 2px solid #eaa258;
}